<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-name" content="TimeCrafters" />
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <link href="{{ 'tailwind.css' | asset_url }}" rel="stylesheet">
  </head>
  <body class="bg-white text-gray-800">
    {% render 'navbar' %}

    {{ content_for_layout }}

   <script src="{{ 'flowbite.min.js' | asset_url }}" defer></script>
  </body>
</html>
